/* dialog message popup system */

$dialogBackground = #FFF
$dialogBorder = 1px solid #DDD
$dialogBoxShadow = 0 0 28px #CCC
$dialogBorderRadius = 4px
$dialogFontFamily = Helvetica, Verdana, sans-serif
$dialogLineHeight = 1.8
$dialogTitleSize = 1.3rem
$dialogTitleColor = #888
$dialogTitleWeight = bold
$dialogModalBackground = rgba(170, 170, 170, 0.3)
$dialogModalOpacity = 0.3

$maxWidth = 90%
$maxHeight = 75%


.dialog-modal
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background-color var(--modalBackgroundColor, $dialogModalBackground)

.dialog-box
    position fixed
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%) scale(1)
    border var(--dialogBorder, $dialogBorder)
    box-shadow var(--dialogBoxShadow, $dialogBoxShadow)
    border-radius var(--dialogBorderRadius, $dialogBorderRadius)
    font-family var(--dialogFontFamily, $dialogFontFamily)
    line-height var(--dialogLineHeight, $dialogLineHeight)
    padding 0.5rem 1rem
    width auto
    background-color var(--dialogBackground, $dialogBackground)
    max-width $maxWidth
    max-height $maxHeight
    overflow auto
    /* new scrollbar css spec & Firefox */
    scrollbar-width thin
    scrollbar-color var(--dialogTitleColor, $dialogTitleColor) var(--dialogBackground, $dialogBackground)   /* scroll thumb & track */

    &.has-iframe
        width $maxWidth
        height $maxHeight

    /* deprecated scroll bar css (for Chrome/Safari/Edge) */
    &::-webkit-scrollbar
        height 6px
        width 2px
        background var(--dialogBackground, $dialogBackground)

    &::-webkit-scrollbar-thumb
        background var(--dialogTitleColor, $dialogTitleColor)
        border-radius 4px
        box-shadow none

    &::-webkit-scrollbar-corner
        background transparent


    .dialog-header
        position relative
        display flex
        justify-content space-between

        .title
            overflow hidden
            font-size var(--dialogTitleSize, $dialogTitleSize)
            color var(--dialogTitleColor, $dialogTitleColor)
            font-weight var(--dialogTitleWeight, $dialogTitleWeight)

        .icons
            white-space nowrap

            .icon-fullscreen
                cursor ne-resize

            .icon-close
                cursor pointer

            svg
                height var(--dialogTitleSize, $dialogTitleSize)
                fill var(--dialogTitleColor, $dialogTitleColor)
                opacity 0.5
                vertical-align middle
                margin-left 1rem

                &:hover
                    opacity 1

    .dialog-body
        position relative
        padding 1rem 0
        height 88%

        iframe
            width 100%
            height 100%
            background-color transparent
            border none
            padding 0

    &.chromeless
        padding 0

        .dialog-header
            display none

        .dialog-body
            padding 0

    &.large
        width $maxWidth


@media (max-width 767px)
    .dialog-box
        width $maxWidth